build
html
latex

compile_commands.json
logfile
.vscode/compile_commands.json
.vscode/C_Cpp_Dadabase_File*
.vscode/.cache

**/*.a
**/*.o
**/*.so
*objfiles.txt
*libecpg*
*libpq*
*libpg*

config.log
config.status
GNUmakefile
Doxyfile
